@excel-card-backside: white;
@excel-table-color: white;

@excel-card-height: 20;
.game.excel{
  background: @excel-table-color;
  .board{
    margin: 0;
    width: 100%;

    &.s10 .slot.draw-slot{
      max-width: 18%;
    }
    &.s7 .slot.draw-slot{
      max-width: 24%;
    }
  }
  .slot{
    padding: 0;
    margin: 0;
    .unitize-min-height(@excel-card-height);
    border-radius: 0;
    &.deck{
      border-radius: 0;
      background: yellow;
    }
    &.play-slot{
      border-color: white;
      .card{
        width: 100%;
        margin: 0;
        .unitize-height(@excel-card-height);
      }
      .card.hidden+.card.revealed{
        margin: 0;
      }
    }

    &.final-slot {
      .card{
        margin: 0;
        border: none;
      }
    }
    &.draw-slot {
      border: none;
      .unitize-max-width(@card-width*2);
      .unitize-width(@card-width*2);
      .card{
        margin: 0 !important;
        width: 33%;
      }
    }
  }
  .card{
    background: @excel-card-backside;
    border-radius: 0;
    .unitize-height(@excel-card-height - 4);
    .unitize-padding(2, 5);

    .card-icon{
      display: none !important;
    }
    .card-color,
    .card-number{
      .unitize(font-size, 16);
      position: relative;
      display: inline;

      &.top{
        left: auto;
        &.card-number{
          top: auto;
        }
        &.card-color{
          top: auto;
        }
      }
      &.bottom{
        display: none;
      }
    }

    &.ui-draggable-dragging{
      background: yellow;
    }
  }
}