@mac-card-backside: white;
@mac-table-color: white;

.game.mac{
  background: @mac-table-color;
  .card{
    background: linear-gradient(@mac-card-backside, darken(@mac-card-backside, 5%));
  }
  .slot{
    border-color: lightgrey;
    &.ui-droppable-hover{
      border-color: darken(@mac-table-color, 5%);
    }
    &.deck {
      background: linear-gradient(@mac-card-backside, darken(@mac-card-backside, 5%));
    }
  }

  select,
  .button{
    .unitize(border-radius, 5);
    background: lighten(@button-bg, 10%);
  }
  .top-bar{
    background: linear-gradient(@button-bg, lighten(@button-bg, 10%));
  }
}