.menu{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: @menu-z;

  align-items: center;

  .menu-inner{
    margin: 0 auto;
    background: silver;
    .unitize-min-width(500);
    .unitize-min-height(300);
    .unitize-padding(20,20);
    text-align: center;
  }

  .button{
    display: block;
    .unitize-padding(5,15);
    .unitize-margin(0,20);
  }
}