.board{
  .clearfix;
  min-height: 100%;
  width: 100%;
  background: darkgreen;
  .unitize-padding(30,30);
  .unitize-min-width(730);


  .board-top,
  .board-bottom{
    .clearfix;
  }

  .slot{
    float: left;
  }
}