
.card-index(@counter) when (@counter > 0) {
  .card-index((@counter - 1));
  &:nth-last-child(@{counter}){
    z-index: (@card-z - @counter);
  }
}

.card{
  position: relative;
  .unitize-height(@card-height);
  .unitize-max-width(@card-width);
  width: 100%;
  border: 1px solid grey;
  .unitize(border-radius,5);
  color: @card-symbol-color;
  background: linear-gradient(@card-backside, darken(@card-backside, 40%));
  font-weight: bold;
  user-select: none;
  cursor: grab;
  .unitize-padding(3,5);
  overflow: hidden;

  .card-color,
  .card-number,
  .card-icon{
    font-family: 'card_symbols';
    .unitize(font-size, 24);
    z-index: -1;
    position: absolute;

    &.top{
      .unitize(left, 5);
      &.card-number{
        .unitize(top, 3);
      }
      &.card-color{
        .unitize(top, 20);
      }
    }
    &.bottom{
      .unitize(right, 5);
      .transform(rotateZ(180deg));
      &.card-number{
        .unitize(bottom, 3);
      }
      &.card-color{
        .unitize(bottom, 20);
      }
    }

    &.card-icon{
      top: 0;
      .unitize(left, 15);
      .unitize(font-size, 130);
      .unitize(line-height, 100);
      font-weight: 100;
    }
  }


  &{
    .card-index(@card-z - 1); // launch the loop
  }

  &.revealed{
    background: #ffffff;
  }

  &.selected{
    .transform(scale(1.2));
  }

  &.n0 {
    .card-icon{
      display: none;
      .unitize(left, 8);
    }
    &.c0 .card-icon{
      display: block;
    }
  }

  &.c0,
  &.c2{
    color: @card-black;
    //background: linear-gradient(@card-black, lighten(@card-black, 30%));
  }

  &.c1,
  &.c3{
    color: @card-red;
    //background: linear-gradient(@card-red, lighten(@card-red, 30%));
  }

  //unicode symbols
  //&:after{
  //  .unitize(font-size, 20);
  //  z-index: -1;
  //}
  //
  //&.c0:after{
  //  content: "\2660";
  //}
  //
  //&.c1:after{
  //  content: "\2665";
  //}
  //
  //&.c2:after{
  //  content: "\2663";
  //}
  //
  //&.c3:after{
  //  content: "\2666";
  //}

  &.ui-draggable-disabled{
    cursor: not-allowed;
  }

  &.ui-draggable-dragging{
    z-index: @card-z + 1;
    cursor: grabbing;
  }
  &:not(.ui-draggable-dragging){
    .transition(all 0.3s);
  }
}