.slot{
  position: relative;
  .unitize-min-height(@card-height + 20);
  .unitize-width(@card-width);
  .unitize-padding(10,0);
  border: 1px solid darken(@table-color, 10%);
  .unitize-margin(0,10,20,0);
  .unitize(border-radius,10);

  .s10 &{
    max-width: 9%;
    margin-right: 1%;
  }
  .s7 &{
    max-width: 12%;
    margin-right: 2%;
  }

  &.ui-droppable-hover{
    border-color: lighten(@table-color, 5%);
  }

  &.deck{
    position: relative;
    float: left;
    border-color: grey;
    background: linear-gradient(@card-backside, darken(@card-backside, 40%));
    cursor: pointer;

    .card{
      display: none;
    }
    &.slot-empty{
      background: transparent;
    }
  }

  &.play-slot{
    height: auto;
    .card{
      .unitize(margin-top, (@card-height * -0.85));
      &.revealed{
        .unitize(margin-top, (@card-height * -0.66666666));
      }

      &.revealed:first-child,
      &:first-child{
        margin-top: 0;
      }
    }

    .card.hidden + .card.revealed{
      .unitize(margin-top, (@card-height * -0.85));
    }
  }

  &.draw-slot{
    .clearfix;
    //.unitize-width(@card-width * 3 - 30);
    .unitize-width(122);
    .unitize-max-width(122);

    .card{
      float: left;
      display: none;
      transition: none;
      .unitize-width(@card-width - 20);
      &:nth-last-child(3){
        display: block;
        .unitize(margin-left, 0);
      }
      &:nth-last-child(2){
        display: block;
        .unitize(margin-left, @card-width * -1 + 30);
      }
      &:nth-last-child(1){
        display: block;
        .unitize(margin-left, @card-width * -1 + 30);
      }
      &:nth-child(1){
        .unitize(margin-left, 0);
      }
    }
  }

  &.final-slot{
    .card{
      position: absolute !important;
      .unitize(margin-top, 10);
      left: 0;
      &:nth-last-child(1){
        display: block;
      }
    }
  }
}