.slot{
  position: relative;
  .unitize-min-height(@card-height + 10);
  .unitize-width(@card-width + 10);
  border: 1px solid greenyellow;
  .card{
  }

  &.ui-droppable-hover{
    border-color: green;
  }

  &.play-slot{
    .card{
      .unitize(margin-top, (@card-height * -0.3333333));
      &:first-child{
        margin-top: 0;
      }
    }
  }

  &.draw-slot{
    .clearfix;
    .unitize-width(@card-width * 3 - 20);

    .card{
      float: left;
      display: none;
      &:nth-last-child(3){
        display: block;
        .unitize(margin-left, 0);
      }
      &:nth-last-child(2){
        display: block;
        .unitize(margin-left, @card-width * -1 + 30);
      }
      &:nth-last-child(1){
        display: block;
        .unitize(margin-left, @card-width * -1 + 30);
      }
    }
  }
}